.box {
  background-color: blue;
  width: 100px;
  height: 100px;

  .h1 {
    color: aqua;
  }
}

.bgWrap {
  // position: fixed;
  height: 100px;
  width: 100px;
  overflow: hidden;
  z-index: -1;
}

.droprate_container {
  width: 50%;
  > .header {
    margin: 2rem 0.5rem 1rem 0.5rem;
  }
  > .content {

  }
}