.ico {
  height: 64px;
  width: 64px;
  background-size: 100% 100%;

  &.small {
    height: 48px;
    width: 48px;
  }
  &.tiny {
    height: 32px;
    width: 32px;
  }

  &.artifact {
    &.green {
      background-image: url($artifact_green);
    }
    &.blue {
      background-image: url($artifact_blue);
    }
    &.purple {
      background-image: url($artifact_purple);
    }
    &.orange {
      background-image: url($artifact_orange);
    }
  }
  &.talentUp {
    &.copper {
      background-image: url($talentMat_copper);
    }
    &.silver {
      background-image: url($talentMat_silver);
    }
    &.gold {
      background-image: url($talentMat_gold);
    }
  }
  &.ascension {
    &.green {
      background-image: url($ascension_green);
    }
    &.blue {
      background-image: url($ascension_blue);
    }
    &.purple {
      background-image: url($ascension_purple);
    }
    &.orange {
      background-image: url($ascension_orange);
    }
  }

  &.boss_1001 {
    background-image: url($boss_1001);
  }
  &.boss_1002 {
    background-image: url($boss_1002);
  }
  &.boss_1004 {
    background-image: url($boss_1004)
  }
}