// Partitioning Containers

.posts-left-sidebar {
    max-width: 600px;
    min-width: 240px;
    flex-direction: column;
}

.posts-main-container {
}

.posts-right-sidebar {

} 


// Left Sidebar

.sidebar-branding {
    height: 360px;
    background-color: blue;
}