//.artifact .green {
//  height: 100px;
//  width: 100px;
//  background-image: url($artifact_green);
//}

table {
  border-spacing: 0;
  border: 1px solid black;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    &[role=cell] {
      padding: 0rem;

      & div {
        margin: 0.5rem;
      }
    }
    //> div {
    //  padding: 0.5rem;
    //}
    :last-child {
      border-right: 0;
    }
  }
}

.pagination {
  padding: 0.5rem;
}
